/*
 * jCountChar - jQuery Character Count Plugin v1.0
 *
 * Copyright 2016, CAGDAS ISIK
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * 9 November 2016
 */

/* Plugin Styles */

.char-count { 
	opacity:0;
	visibility:hidden;
	color:green;
	transition:opacity 300ms ease,visibility 300ms ease;

	&.show {
		opacity:1;
		visibility:visible;
	}
}

.warn {
	color:#F60; 
}

.superwarn{
	color:#D40D12;
}